body{
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    display:flex;
    flex-wrap: wrap;

}
.card{
    border:3px dashed black;
    border-radius: 10px;
    margin:auto;
    text-align: center;
}